:root {
	--navbar-height: 60px;
	--subnav-height: 42px;
	--sidebar-width: 70px;
	--breakpoint-sm: 40em;
	--breakpoint-md: 52em;
	--breakpoint-lg: 64em;
}

.btn:focus {
	outline: 0;
	border: none;
}

.disabled {
	opacity: 0.7;
	pointer-events: none;
}

.align-v-middle {
	margin-top: auto;
	margin-bottom: auto;
}

.align-h-middle {
	margin-left: auto;
	margin-right: auto;
}

.flex-align-middle {
	align-self: center;
}

.text-middle {
	text-align: center;
}

.full-height {
	height: 100%;
}

.height-0 {
	height: 0px;
}

.textarea {
	resize: none;
}

.shadow {
	-webkit-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
}

.sidebar-btn:focus {
	border: none;
	box-shadow: none;
	padding: 5px;
}

.sidebar-btn:focus i {
	background-color: rgba(0,0,0,0.12);
	border-radius: 3px;
	width: 90%
}

.btn-submit {
	transition: background-color .2s
}

.navbar {
	height: var(--navbar-height);
}

.subnav {
	background-color: rgb(7, 100, 180);
	transition: height .3s, font-size .3s;
}

.sidebar {
	width: var(--sidebar-width);
	height: 100vh;
	overflow: scroll;
	position: relative;
	
	background-color: rgb(245, 248, 252);
	transition: width .3s;
}

.sidebar .sidebar-btn {
	width: var(--sidebar-width);
	height: var(--navbar-height);
	position: absolute;
	right: 0;
}

.navbar-headline {
	padding: 0;
	transition: opacity .3s, visibility .3s;
}

.sidebar .navbar-headline {
	opacity: 0;
	visibility: hidden;
}

.sidebar .subnav {
	height: 0;
}

.sidebar .subnav .fa {
	font-size: 0;
}

.sidebar .sidebar-item {
	opacity: 0;
	visibility: none;
	height: auto;
	transition: opacity .1s, visibility .1s, height .1s;
}

.sidebar.open {
	width : 352px;
}

.sidebar.open .navbar-headline {
	opacity: 1;
	visibility: visible;
}

.sidebar.open .subnav {
	height: var(--subnav-height);
}

.sidebar.open .subnav .fa {
	font-size: inherit;
}

.sidebar.open .sidebar-item {
	opacity: 1;
	visibility: visible;
	height: auto;
}

.sidebar .loader {
	opacity: 0;
	visibility: none;
}

.sidebar.open .loader {
	opacity: 1;
	visibility: visible;
}

.loader {
	margin-top: 8rem;
	transition: opacity .1s, visibility .1s;
}

.sidebar .sidebar-body {
	height: calc(100vh - var(--navbar-height));
	border-right: 1px solid rgb(228, 232, 236);
	overflow: scroll;
}

.sidebar.open .sidebar-body {
	height: calc(100vh - var(--navbar-height) - var(--subnav-height));
	overflow: scroll;
}

/* .position-list {} */

.list-item.position {
	background-color: rgb(251, 253, 255);
	box-shadow: -1px 1px 0px rgb(208, 220, 235);
}

/* .list-item.position.selected {} */

.list-item.position.unselected {
	color: gray;
	pointer-events: none;
}

.error-box {
	word-wrap: break-word;
}

.error-box:last-child {
	margin-bottom: 0;
}

.error-message-wrapper {
	display: flex;
	position: absolute;
	background-color: #fff;
	top: auto;
	bottom: 50px;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: .3s opacity, .3s visibility;
}

.error-message {
	margin: 0 auto;
	padding: .4rem;
}

.error-message li {
	overflow: hidden
}

.box-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 25px 0 25px;
	border-color: #ccc transparent transparent transparent;
	bottom: -6px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s opacity, .3s visibility;
}

.error-message-wrapper:hover,
.validation-input:hover ~ .error-message-wrapper,
.validation-input:hover ~ .error-message-wrapper .box-arrow {
	opacity: 1;
	visibility: visible;
}


.jumbotron {
	background-image: url("http://localhost:1337/img/position-paper.jpg");
}

.steps-list {
	margin-top: 1.5rem;
}

.steps-list-item {
	border-bottom: 3px solid transparent;
	transition: border-color .3s;
}
.steps-list-item.done {
	color: #ffffff9c;
}
.steps-list-item.active {
	border-color: #fbfcfe;;
}

.steps-list-item div {
	height: calc(2.5rem - 3px);
}

.wizard {
	overflow: hidden;
	height: 500px;
}

.wizard .wizard-item {
	height: 500px;
}

.wizard-steps-list {
	color: white;
}

.wizard-content {
	position: relative;
	/* color: white; */
	background-color: #0273d905;;
}

.wizard-list-slider {
	position: absolute;
	left: 0;
	right: 0;
	transition: top .5s cubic-bezier(0.96, 0.02, 1, 1);
}

.wizard-item {
	height: inherit;
	visibility: visible;
	transition: visibility .5s;
}

.wizard-item.hidden {
	visibility: hidden;
}

.wizard-item form {
	height: 100%;
	padding: 1rem;
}

.wizard-button-bar {
	height: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.wizard-button {
	position: absolute;
	top: -80px;
	visibility: visible;
	transition: top .3s, visibility .3s;
}

.wizard-button .icon {
	transition: transform .2s cubic-bezier(0.68, 0.37, 0.04, 2.2);
}
.wizard-button:active {
	transform: scale(1.3);
}
.wizard-button:focus {
	box-shadow: none;
}

.wizard-button .icon {
	padding: 0 4px;
	border-radius: 50%;
}

.wizard-button:focus .icon {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
}

.wizard-button.hidden {
	top: 0;
	visibility: hidden;
}

.wizard-button.right {
	right: 0;
}

.wizard-button.disabled .icon {
	border-radius: 50%;
	margin-right: 2px;
	margin-left: 2px;
	transform: scale(0.7);
}

.wizard-complete {
	height: 100%;
}

.company-name-listitem:nth-child(2n + 1) {
	background-color: #0273d952;
}

.company-name-listitem {
	height: 4rem;
}

.company-name-listitem div {
	width: 100%;
}

.button-bar i {
	color: black;
}

.image-input-wrapper {
	height: 156px;
}

.image-input-wrapper div {
}

.image-input {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.image-input + label {

}
.company-logo-wrapper {
	height: 156px;
}
.company-logo {
	max-height: 114px;
}
.company-logo__empty {
	height: 100%;
}
/* COMPANY GRID */
.company.grid-item {
	padding: 0 .5rem;
	-webkit-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
}

@media only screen and (min-width: 40em) and (max-width: 52em) {
	.company.grid-item:not(:first-child) {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 52em) and (max-width: 64em) {
	.company.grid-item:nth-child(n+4) {
		margin-top: 1rem;
	}
	.company.grid-item:not(:nth-child(3n+1)) {
		margin-left: 1rem;
	}
	.company.grid-item {
		width: calc(33.33% - 0.67rem);
	}
}

@media only screen and (min-width: 64em) {
	.company.grid-item:nth-child(n+5) {
		margin-top: 1rem;
	}
	.company.grid-item:not(:nth-child(4n+1)) {
		margin-left: 1rem;
	}
	.company.grid-item {
		width: calc(25% - 0.75rem);
	}
}

.company-img-wrapper {
	height: 200px;
}

.company-img-wrapper .company-img {
	transition: margin-left .5s;
}

.company-img-wrapper.show-disclaymer .company-img {
	margin-left: -100%;
}

.company-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	height: auto;
	width: auto;
}

.company-name > a {
	color: black;
	position: relative;
	text-decoration: none;
	text-transform: capitalize;
}

.company-name > a:hover {
	color: black;
}

.company-name > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color:#111;
	visibility: hidden;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition: all 0.3 ease-in-out;
	-webkit-transition: all 0.1s ease-in-out 0s;
}

.company-name > a:hover:before {
	visibility: visible;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
}

.company-button-bar .btn {
	width: 40px;
	height: 40px;
	padding-left: 13px;
	margin-left: 0.5rem;
	margin-top: 4px;
	border: 1px solid;
	z-index: 2;
	transition: all 0.2s;
}

.company-button-bar {
	margin-top: 0px;
	height: 0px;
	transition: all 0.1s ease-in-out 0s;
}
.company-img-wrapper + .company-button-bar:hover,
.company-img-wrapper:hover + .company-button-bar {
	height: 49px;
	margin-top: -49px;
}

.company-img-wrapper + .company-button-bar.show-disclaymer:hover,
.company-img-wrapper:hover + .company-button-bar.show-disclaymer {
	height: 0px;
	margin-top: 0px;
}

.company-button-bar .btn:hover {
	padding-left: 12px;
	border-width: 2px;
}

.remove-disclaymer {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffffc2;
	z-index: 10;
}

.remove-disclaymer--buttons {
	margin: auto auto;
	padding-bottom: 5rem;
	width: 100%;
}

.remove-disclaymer--buttons .btn {
	width: calc(50% - .25rem);
}

.remove-disclaymer--buttons .btn:first-of-type {
	margin-right: 0.5rem;
}
.btn.bg-red {
	background-color: #ff7f76;
}
.btn.bg-red:hover {
	background-color: #ff4036;;
}
.btn.bg-green {
	background-color: #7add7e;
}
.btn.bg-green:hover {
	background-color: #2dcc40;;
}